/* Content */
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  /* position: relative; */
}

.top-side-content {
  height: 40%;
  width: 100%;
  background-size: cover;
  background-position: top;
  position: relative;
}

.bottom-side-content {
  display: flex;
  width: 100%;
  height: 60%;
  padding: 2vw 5vw;
}

@media screen and (max-width: 1000px) {
  .bottom-side-content {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
  }
}
