/* Content */
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  /* position: relative; */
}

.top-side-content {
  height: 40%;
  width: 100%;
  background-size: cover;
  background-position: top;
  position: relative;
}

.bottom-side-content {
  display: flex;
  width: 100%;
  height: 60%;
  padding: 2vw 5vw;
}

.fa-check-circle {
  color: green;
}

/* Modal */
.container-modal {
  position: relative;
  height: 100%;
  width: 100%;
}

.modal,
.delete-modal {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.hidden-modal,
.hidden-left-side-nav {
  display: none;
}

.modal-container {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 25px;
  box-shadow: 0px 0px 0.8vw rgb(0 0 0 / 0.2);
}

/* The Close Button */
.close {
  color: red;
  float: right;
  background-color: transparent;
  border-style: none;
}

.modal h5 {
  margin: 2vh;
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2vh;
}

.form-item {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 2vh 0;
}

.desc {
  display: flex;
  width: 100%;
  align-items: top;
  margin: 2vh 0;
}

.form-item input,
.desc input,
.desc textarea {
  width: 80%;
  border-color: #d0cccc;
  border-radius: 10px;
  color: #d0cccc;
  border-width: thin;
  border-style: solid;
  padding: 2vh;
}

.form-item label,
.desc label {
  width: 20%;
  font-weight: bold;
}

.save-btn {
  margin-left: auto;
  margin-top: 1.2vh;
  width: 20%;
  padding: 1.5vh;
  border-radius: 10px;
  border-style: none;
  background-color: rgb(255, 191, 0);
  color: white;
}

.save-btn:hover {
  background-color: #424242;
  color: white;
}

@media screen and (max-width: 1000px) {
  .bottom-side-content {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
  }
}

@media screen and (max-width: 600px) {
  .form-item {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0;
  }

  .desc {
    display: flex;
    width: 100%;
    align-items: top;
    flex-direction: column;
  }

  .form-item input,
  .desc input,
  .desc textarea {
    width: 100%;
    padding: 2vh;
  }

  .form-item label,
  .desc label {
    width: 100%;
  }

  .save-btn {
    margin: 0 auto;
    margin-top: 1.2vh;
    width: 50%;
  }

  .close .fa {
    font-size: 5vw !important;
  }
}
