.forgot-password,
.remember-me {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox {
  width: 1.4vw;
}

.forgot-password {
  width: 75%;
  margin: 1em 0;
  margin-top: 1.5em;
}

.remember-me {
  margin-right: auto;
}

.remember-me p {
  margin-left: 0.5em;
}

.forgot-password a,
.forgot-password p {
  font-size: 1.1vw;
}

@media screen and (max-width: 1000px) {
  .forgot-password a,
  .forgot-password p {
    font-size: 1.9vw;
  }
}

@media screen and (max-width: 600px) {
  .checkbox {
    width: 3vw;
  }
}
