.form-login {
  width: 80%;
  box-shadow: 0px 0px 0.8vw rgb(0 0 0 / 0.2);
  transition: transform 0.8s;
}

.form-login:hover {
  transform: scale(1.02);
}

.email-login,
.password-login,
.username-register,
.fullname-register,
.email-register,
.password-register {
  box-shadow: none;
  border-color: #e0e0e0;
  border-width: thin;
  border-style: solid;
  border-radius: 5px;
  transition: 0.3s;
  width: 100%;
  padding: 1em 1em;
  position: relative;
}

.email-login,
.username-register {
  margin-top: 2em;
}

input {
  border-style: none;
  width: 100%;
}

input:focus::placeholder {
  color: transparent;
}

input::placeholder {
  margin-right: 2vw;
}

input:focus {
  outline: none;
}

.input {
  color: #424242;
}

.title {
  color: #d0cccc;
}

.form-login:hover {
  transform: scale(1.02);
}

/* button */
.button-login {
  margin-top: 2em;
}

.button {
  padding: 0.5em 2.5em;
  border-radius: 5px;
  margin-right: 1em;
}

.login,
.signup1 {
  background-color: black;
  color: white;
  border-width: thin;
  border-color: black;
}

.signup,
.login1 {
  border-color: #d0cccc;
  background-color: white;
  color: #d0cccc;
  border-width: thin;
  border-style: solid;
}

.login:hover,
.signup1:hover,
.login1:hover,
.signup:hover {
  background-color: rgb(255, 136, 0);
  border-color: white;
  color: white;
}

@media screen and (max-width: 1000px) {
  .login-description a,
  .forgot-password a,
  .forgot-password p,
  .login-description p {
    font-size: 1.9vw;
  }
}
