.carousel-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 0.3em rgb(0 0 0 / 0.2);
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
  height: 10%;
}

.logo-side {
  display: flex;
  font-weight: 700;
  align-items: center;
}

.logo-side img {
  max-width: 40%;
  width: 4vw;
  margin-right: 1em;
}

.logo-side-responsive {
  display: none;
}

.hamburger-navbar button {
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 1000px) {
  .carousel-container {
    height: 10%;
  }

  .carousel-container p,
  .carousel-container a,
  .carousel-container i {
    font-size: 3.5vw;
  }

  .logo-side p {
    font-size: 2vw;
  }

  .logo-side {
    display: none;
  }

  .logo-side-responsive {
    display: flex;
  }

  .logo-side-responsive img {
    width: 15vw;
    align-items: flex-end;
    max-width: 40%;
    margin-left: auto;
  }
}

@media screen and (max-width: 600px) {
  .carousel-container {
    height: fit-content;
  }

  .logo-side-responsive img {
    width: 20vw;
  }
}
